<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zadaca_3.Properties.Settings.IPS23_pjuros21ConnectionString"
            connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=IPS23_pjuros21;Persist Security Info=True;User ID=pjuros21;Password=gQ_Xo({m"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>